<div class="container">
    <h5>{{$ctrl.ticket.qTitle}}</h5>
    <div>
        <p>{{$ctrl.ticket.qDescription}}
            <small class="pull-right" ng-class="$ctrl.checkResolved($ctrl.ticket.resolved)">{{$ctrl.ticket.resolved ? "Resolved" : "Pending";}}</small>
        </p>
        <div>
            <a class="links"  ng-if="!$ctrl.admin" href="/#!/user/{{$ctrl.ticket._id}}/edit-ticket">Edit-Query</a>
            <a class="links"  ng-if="!$ctrl.admin && !$ctrl.ticket.resolved" href="/#!/user/show/{{$ctrl.ticket._id}}"
                ng-click="$ctrl.markResolved()">Mark-resolved</a>
            <a class="links"  ng-if="!$ctrl.admin && !$ctrl.ticket.status != 'Closed'" href="/#!/user/dashboard"
                ng-click="$ctrl.deleteTicket()" ng-disabled="$ctrl.disableDeleteTicket">Delete-Query</a>
            <a class="links"  ng-if="$ctrl.admin && $ctrl.ticket.resolved" ng-click="$ctrl.closeQuery()"
                ng-disabled="$ctrl.disableCloseQuery">Close Query</a>
            <a class="links"  data-toggle="collapse" data-target="#reply" ng-click="$ctrl.newMessage()">Submit Reply</a>
        </div>
    </div>
    <hr>
    <div>
        <form id="reply" class="form collapse" ng-submit="$ctrl.submitMessage()">
            <div class="form-group">
                <label>Reply</label>
                <textarea class="form-control" id="QueryDescription" rows="3" ng-model="$ctrl.messageForm.messageBody"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.disableSubmit">Submit Message</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="container">
        <div class="list-group mt-4 mb-4">
            <div ng-repeat="message in $ctrl.ticket.messages | orderBy : '-createdAt'" class="list-group-item list-group-item-action flex-column">
                <div class="right">
                    <div class="d-flex w-100">
                        <h6 class="mb-1">{{message.from.username}}</h6>
                    </div>
                    <div>
                        <p>
                            {{message.text}}
                        </p>
                    </div>
                    <div>
                        <small>{{message.createdAt | amCalendar:referenceTime:formats}}</small>
                    </div>
                </div>

                <a class="links" ng-if="message.from.username === $ctrl.username" ng-click="$ctrl.selectMessage(message)" 
                    data-toggle="collapse" data-target="#edit">Edit</a>
                <a class="links" ng-if="message.from.username === $ctrl.username" ng-click="$ctrl.deleteMessage(message)">Delete</a>
                <div>
                    <form ng-if="$ctrl.selectedMessage === message" id="edit" class="form collapse" ng-submit="$ctrl.submitMessage()">
                        <div class="form-group">
                            <label>Edit Message</label>
                            <textarea class="form-control" id="QueryDescription" rows="3" ng-model="$ctrl.messageEditForm.messageBody"></textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.disableSubmit">Submit Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
