<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-md-offset-4">
            <h3 ng-if="!$ctrl.edit">New Query</h3>
            <h3 ng-if="$ctrl.edit">Edit Query</h3>
            <hr>
            <form class="form" ng-submit="$ctrl.submitTicket()">
                <div class="form-group">
                    <label>Query Title</label>
                    <textarea class="form-control" rows="2" ng-model="$ctrl.queryForm.qTitle" required></textarea>
                </div>
                <div class="form-group">
                    <label>Text</label>
                    <textarea class="form-control" ng-model="$ctrl.queryForm.qDescription" required></textarea>
                </div>
                <button class="btn btn-primary" type="submit" class="ui positive right labeled icon button" ng-disabled="$ctrl.disabled">Submit Query</button>
            </form>
        </div>
    </div>
</div>
