<div class="wrapper">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark header">
        <a class="navbar-brand" href="/#!/user/dashboard">
            <p>{{$ctrl.username | uppercase}}</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a href="/#!/" ng-click="$ctrl.logout()">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="/#!/user/create-ticket">Create-ticket</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="list-group mt-4 mb-4">
            <a ng-repeat="query in $ctrl.queryList | orderBy : '-createdAt'" href="/#!/user/show/{{query._id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{query.qTitle}}</h6>
                    <small>{{query.createdAt | amCalendar:referenceTime:formats}}</small>
                </div>
                <small ng-class="$ctrl.checkResolved(query.resolved)">{{query.resolved ? "Resolved" : "Pending"}}</small>
            </a>
        </div>
    </div>
</div>