body {
    background: whitesmoke;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    text-align: left;
    color : black;
}

.container{
    height: 100%;
}
.links{
    cursor: pointer;
    color : darkblue;
    font-size: 12px;
}

.query{
    padding-top: 50px;
}

.message{
    background: whitesmoke;
}

.query-buttons{
    padding-top: 2px;
}